body {
  /* margin: 0; */
}

.carousel {
  max-width: 600px;
  position: relative;
  text-align: center;
  margin: auto;
}

.carousel .carousel-item,
.carousel .carousel-item-hidden {
  display: none;
  overflow: hidden;
}
.carousel .carousel-item-visible {
  display: block;
  animation: fadeVisibility 0.5s;
}

.carousel .carousel-item img {
  width: 100%;
  max-width: 600px;
  height: 300px;
}

.carousel .carousel-item .title {
  position: absolute;
  top: 10%;
  right: 160px;
  width: 100%;
  max-width: 600px;
  color: whitesmoke;
  margin:0 auto;
  font-size: 36px;
  text-shadow: 0px 0px 5px #000;
}

.carousel .carousel-actions {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  
}

.carousel .carousel-actions button {
  margin: 0 20px;
  width: 40px;
  height: 40px;
  color: #444;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 20px;
  font-weight: 500;
  border-radius: 50%;
  border: rgba(200, 200, 200, 0.3);
  cursor: pointer;
}


.carousel .carousel-actions button:hover {
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.9);
}

.carousel .carousel-bullets {
  position: absolute;
  bottom: 20px;
  width: 600px;
  display: flex;
  justify-content: center;  
}

.carousel .carousel-bullets .carousel-bullet {
  background: rgba(255, 255, 255, 0.5);
  text-shadow: 0px 0px 5px #000;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin: 0 5px;
}

.carousel .carousel-bullets .active {
  background: rgba(255, 255, 255, 1);
}


@keyframes fadeVisibility {
  0% {
    opacity: 0;
    transform:translateX(100%);
  }
  100% {
    opacity: 1;
    transform:translateX(0%)
  }
}
